.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 13.5rem);
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
